@charset "UTF-8";
/*
*CONTENTS
*
*SETTINGS
*variable...................................变量集中存储文件
*
*TOOLS
*
*COMPONENTS
*
*BUSINESS
*
*BASE
*headerLeft...................................显示订单和金额的组件
*headerLogo...................................解释图案的组件
*headerRange..................................头部滑块的组件
*headerRight..................................头部的5个按钮的组件
*tap..........................................头部标签的组件
*table........................................主体表格组件
*verificationModal............................验证模态框
*lockListModal................................长锁清单模态框
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000031}}
.headerLeft {
  display: inline-block;
  margin: 15px 4% 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000035}}
.headerLeft > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000038}}
.headerLeft > div > div {
  font-size: 13px;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\0000314}}
.headerLeft .left {
  text-align: right;
  color: #828282;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\0000319}}
.headerLeft .right {
  text-align: left;
  color: #50879c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000031}}
.headerLogo {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000034}}
.headerLogo > div {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000038}}
.headerLogo .left {
  font-size: 13px;
  text-align: right;
  color: #828282;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\0000313}}
.headerLogo .left div {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\0000319}}
.headerLogo .right div {
  width: 30px;
  height: 12px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\000031}}
.headerRange {
  position: relative;
  bottom: 45px;
  display: inline-block;
  margin-left: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\000037}}
.headerRange span {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000311}}
.headerRange .rangeText {
  font-size: 13px;
  position: relative;
  top: 6px;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000318}}
.headerRange input[type=range] {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000323}}
.headerRange input[type=range]:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000327}}
.headerRange input[type=range]::-webkit-slider-thumb {
  width: 4px;
  height: 17px;
  margin-top: -7px;
  cursor: pointer;
  background: #88cddc;
  -webkit-appearance: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000336}}
.headerRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #88cddc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000031}}
.headerRight {
  display: inline-block;
  margin-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000035}}
.headerRight div {
  display: inline-block;
  margin: 0 10px 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000039}}
.headerRight div span {
  font-size: 13px;
  position: relative;
  display: table-cell;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 60px;
  background-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000323}}
.headerRight div .headerRightClick {
  color: #88cddc;
  border: 1.5px solid #88cddc;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000330}}
.headerRight .hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000335}}
.headerRight .pre1,
.headerRight .pre2,
.headerRight .pre3,
.headerRight .pre4 {
  position: absolute;
  transform: rotate(-45deg);
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000346}}
.headerRight .pre1 {
  top: 31px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000351}}
.headerRight .pre1Color {
  border-right-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000355}}
.headerRight .pre1Change {
  border-right-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000359}}
.headerRight .pre2 {
  top: 28px;
  left: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000364}}
.headerRight .pre2Color {
  border-right-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000368}}
.headerRight .pre2Change {
  border-right-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000372}}
.headerRight .pre3 {
  top: 9px;
  left: 22px;
  border-left-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000378}}
.headerRight .pre3Color {
  border-left-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000382}}
.headerRight .pre3Change {
  border-left-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000386}}
.headerRight .pre4 {
  top: 12px;
  left: 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000391}}
.headerRight .pre4Color {
  border-left-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000395}}
.headerRight .pre4Change {
  border-left-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/tap\/tap\.scss}line{font-family:\000031}}
.tap {
  position: absolute;
  width: 75%;
  margin-left: 15.5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/tap\/tap\.scss}line{font-family:\000036}}
.tap span {
  font-size: 20px;
  line-height: 40px;
  float: left;
  width: 110px;
  height: 40px;
  margin: 0 1px 0 1px;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  color: #9b9b9b;
  border-bottom: 2px solid #9b9b9b;
  background-color: #f2f2f2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/tap\/tap\.scss}line{font-family:\0000321}}
.tap .tapClick {
  font-size: 22px;
  line-height: 50px;
  height: 50px;
  color: #50879c;
  border-bottom: solid #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/tap\/tap\.scss}line{font-family:\0000329}}
.tap .clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\000032}}
.tableMain {
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\000039}}
.tableBody {
  position: relative;
  overflow: auto;
  height: 91%;
  padding-top: 27px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000318}}
.nbTableBox {
  overflow: auto;
  overflow-y: hidden;
  margin-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000324}}
.nbTable {
  display: table;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000328}}
.nbTable div {
  display: table-row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000331}}
.nbTable div span {
  font-size: 12px;
  display: table-cell;
  min-width: 60px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #fff;
  background-color: #f0eff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000349}}
.groundNumberDiv {
  position: relative;
  top: 20px;
  overflow: hidden;
  height: 20px;
  padding-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000357}}
.groundNumber {
  position: absolute;
  z-index: 3;
  display: table-row;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000363}}
.groundNumber span {
  font-size: 14px;
  display: table-cell;
  min-width: 60px;
  text-align: center;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000371}}
.groundNumber .click {
  color: #87b880;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000377}}
.thead {
  font-size: 16px;
  position: absolute;
  z-index: 4;
  top: 190px;
  left: 11%;
  -webkit-transform-origin: top;
  color: #50879c;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000387}}
.thead .ground {
  position: relative;
  top: 5px;
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000393}}
.thead .slash {
  width: 70px;
  height: 1px;
  -webkit-transform: rotate(-150deg);
  background-color: #50879c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\00003102}}
.vertical {
  position: absolute;
  top: 18px;
  -webkit-transform-origin: top left;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\00003108}}
.vertical div {
  display: table-row;
  min-width: 60px;
  height: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\00003114}}
.vertical .click {
  color: #87b880;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000031}}
#verificationModal .modal-dialog {
  margin-top: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000035}}
#verificationModal .modal-dialog .modal-body div {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000039}}
#verificationModal .modal-dialog .modal-body input {
  margin-top: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\0000313}}
#verificationModal .modal-dialog .modal-body .btn {
  margin: 28px 10px 0 10px;
  padding: 2px 15px 2px 15px;
  color: #fff;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\000031}}
#lockListModal .modal-header {
  font-size: 20px;
  text-align: center;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\000037}}
#lockListModal .modal-body {
  overflow: auto;
  height: 60%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000311}}
#lockListModal .modal-body .groundListBox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000317}}
#lockListModal .modal-body .date {
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000321}}
#lockListModal .modal-body .triangle {
  position: relative;
  left: 10px;
  width: 0;
  height: 0;
  border-width: 7.5px 8px 7.5px 0;
  border-style: solid;
  border-color: transparent #808080 transparent transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000331}}
#lockListModal .modal-body .groundList {
  width: 230px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px solid #808080;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000337}}
#lockListModal .modal-body .groundList span {
  font-size: 16px;
  display: inline-block;
  padding: 5px 2px 5px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000344}}
#lockListModal .modal-body .userList {
  width: 210px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000347}}
#lockListModal .modal-body .userList span {
  font-size: 16px;
  display: block;
  margin: 12px 2px 13px 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000352}}
#lockListModal .modal-body .userList span input {
  width: 140px;
  height: 22px;
  color: #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000360}}
#lockListModal .modal-body .closeIcon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(/img/close-icon.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000370}}
#lockListModal .modal-footer {
  text-align: center;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000374}}
#lockListModal .modal-footer div {
  margin-bottom: 23px;
  color: #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000379}}
#lockListModal .modal-footer .btn {
  width: 80px;
  height: 30px;
  margin: 0 30px 0 30px;
  color: #fff;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\000032}}
.headerLockAndUnlockModal .modal-body {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\000035}}
.headerLockAndUnlockModal .modal-body .groundListBox {
  display: inline-flex;
  margin-top: 20px;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000310}}
.headerLockAndUnlockModal .modal-body .groundListBox .groundList {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000313}}
.headerLockAndUnlockModal .modal-body .groundListBox .groundList span {
  font-size: 18px;
  display: inline-block;
  padding: 5px 2px 5px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000321}}
.headerLockAndUnlockModal .modal-body .groundListBox .userList span {
  font-size: 16px;
  display: block;
  margin: 12px 2px 13px 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000326}}
.headerLockAndUnlockModal .modal-body .groundListBox .userList span input {
  width: 140px;
  height: 22px;
  color: #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000335}}
.headerLockAndUnlockModal .modal-body .btn {
  width: 80px;
  height: 30px;
  margin: 20px 10px 0 10px;
  color: #fff;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000346}}
#headerLockModal .checkbox {
  font-size: 18px;
  color: #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000350}}
#headerLockModal .checkbox input {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: -30px;
  border: 1px solid #50879c;
  background-color: #fff;
  -webkit-appearance: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000361}}
#headerLockModal .checkbox input:checked {
  -webkit-appearance: checkbox;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/headerLockAndUnlockModal\.scss}line{font-family:\0000368}}
#headerUnlockModal .unlockModalText {
  font-size: 18px;
  margin-top: 30px;
  color: #50879c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/modal\.scss}line{font-family:\000031}}
.cancel {
  background-color: #a0a0a0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/modal\.scss}line{font-family:\000035}}
.tested {
  background-color: #87b880;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\000031}}
.appIcon {
  background-image: url(../img/icon-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\000037}}
.lockedIcon {
  background-image: url(../img/icon-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000313}}
.canLockIcon {
  background-image: url(../img/icon-5.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000319}}
.canUnlockIcon {
  background-image: url(../img/icon-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000325}}
.unPaidIcon {
  background-image: url(../img/icon-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000331}}
.appImg {
  background-image: url(../img/icon-3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000337}}
.appImg:after {
  content: 'APP订场';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000341}}
.lockedImg {
  background-image: url(../img/icon-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000347}}
.lockedImg:after {
  content: '锁定';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000351}}
.canLockImg {
  background-image: url(../img/icon-5.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000357}}
.canUnlockImg {
  background-image: url(../img/icon-4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000363}}
.unPaidImg {
  background-image: url(../img/icon-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/img\/icon\.scss}line{font-family:\0000369}}
.unPaidImg:after {
  content: '待支付';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000347}}
* {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000352}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000356}}
.header {
  background-color: #f2f2f2;
  padding-left: 15.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000362}}
.bigBox {
  height: 68%;
  margin-top: 40px;
  margin-left: 13%;
  overflow-y: hidden;
}
