@charset "UTF-8";
/*
*CONTENTS
*
*SETTINGS
*variable...................................变量集中存储文件
*
*TOOLS
*
*COMPONENTS
*
*BUSINESS
*
*BASE
*headerLeft...................................显示订单和金额的组件
*headerLogo...................................解释图案的组件
*headerRange..................................头部滑块的组件
*headerRight..................................头部的5个按钮的组件
*tap..........................................头部标签的组件
*table........................................主体表格组件
*verificationModal............................验证模态框
*lockListModal................................长锁清单模态框
*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000032}}
.headerLeft {
  margin: 15px 4% 20px 0px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000035}}
.headerLeft span {
  font-size: 13px;
  margin-top: 2px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLeft\.scss}line{font-family:\000039}}
.headerLeft span span {
  color: #88cddc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000031}}
.headerLogo {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000033}}
.headerLogo span {
  font-size: 13px;
  display: inline-block;
  margin-top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerLogo\.scss}line{font-family:\000037}}
.headerLogo span span {
  display: inline-block;
  width: 25px;
  height: 10px;
  background-color: #88cddc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\000031}}
.headerRange {
  display: inline-block;
  position: relative;
  bottom: 45px;
  margin-left: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\000036}}
.headerRange span {
  display: inline-block;
  margin: 0 10px 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000310}}
.headerRange input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000314}}
.headerRange input[type=range]:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000317}}
.headerRange input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 17px;
  width: 4px;
  background: #88cddc;
  cursor: pointer;
  margin-top: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRange\.scss}line{font-family:\0000325}}
.headerRange input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #88cddc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000031}}
.headerRight {
  display: inline-block;
  margin-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000034}}
.headerRight div {
  display: inline-block;
  margin: 0 10px 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\000037}}
.headerRight div span {
  color: #fff;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  display: table-cell;
  width: 60px;
  height: 60px;
  background-color: #88cddc;
  border-radius: 60px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000320}}
.headerRight div .headerRightClick {
  background-color: #fff;
  color: #88cddc;
  border: 1.5px solid #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000328}}
.headerRight .pre1, .headerRight .pre2, .headerRight .pre3, .headerRight .pre4 {
  border-width: 10px;
  border-style: solid;
  position: absolute;
  transform: rotate(-45deg);
  border-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000335}}
.headerRight .pre1 {
  left: 0;
  top: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000339}}
.headerRight .pre1Color {
  border-right-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000342}}
.headerRight .pre1Change {
  border-right-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000345}}
.headerRight .pre2 {
  left: 3px;
  top: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000349}}
.headerRight .pre2Color {
  border-right-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000352}}
.headerRight .pre2Change {
  border-right-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000355}}
.headerRight .pre3 {
  border-left-color: #fff;
  left: 22px;
  top: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000360}}
.headerRight .pre3Color {
  border-left-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000363}}
.headerRight .pre3Change {
  border-left-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000366}}
.headerRight .pre4 {
  left: 19px;
  top: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000370}}
.headerRight .pre4Color {
  border-left-color: #88cddc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/headerRight\.scss}line{font-family:\0000373}}
.headerRight .pre4Change {
  border-left-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/tap\.scss}line{font-family:\000031}}
.tap {
  margin-left: 15.5%;
  width: 75%;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/tap\.scss}line{font-family:\000035}}
.tap span {
  margin: 0 1px 0 1px;
  cursor: pointer;
  text-align: center;
  float: left;
  line-height: 40px;
  color: #9b9b9b;
  font-size: 20px;
  width: 10.8%;
  height: 40px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #9b9b9b;
  transition: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/tap\.scss}line{font-family:\0000319}}
.tap .tapClick {
  height: 60px;
  border-bottom: solid #50879c;
  line-height: 60px;
  font-size: 22px;
  color: #50879c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/header\/tap\.scss}line{font-family:\0000326}}
.tap .clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\000032}}
.tableMain {
  margin-left: 10px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\000037}}
.tableBody {
  position: relative;
  overflow: auto;
  margin-top: 30px;
  height: 395px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000315}}
.nbTableBox {
  overflow: auto;
  overflow-y: hidden;
  margin-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000320}}
.nbTable {
  display: table;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000323}}
.nbTable div {
  display: table-row;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000325}}
.nbTable div span {
  min-width: 60px;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #fff;
  display: table-cell;
  background-color: #f0eff5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000337}}
.groundNumberDiv {
  position: relative;
  overflow: hidden;
  padding-left: 40px;
  height: 20px;
  top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000344}}
.groundNumber {
  position: absolute;
  display: table-row;
  z-index: 3;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000349}}
.groundNumber span {
  background-color: #fff;
  display: table-cell;
  min-width: 60px;
  text-align: center;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000358}}
.thead {
  font-size: 16px;
  color: #50879c;
  position: absolute;
  left: 11%;
  top: 214px;
  background-color: #fff;
  z-index: 4;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000369}}
.thead .ground {
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000372}}
.thead .slash {
  height: 1px;
  width: 70px;
  background-color: #50879c;
  -webkit-transform: rotate(-25deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000381}}
.vertical {
  position: absolute;
  text-align: center;
  top: -5px;
  -webkit-transform-origin: top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/table\/table\.scss}line{font-family:\0000386}}
.vertical div {
  min-width: 60px;
  height: 25px;
  display: table-row;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000031}}
#verificationModal .modal-dialog {
  margin-top: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000034}}
#verificationModal .modal-dialog .modal-body div {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\000037}}
#verificationModal .modal-dialog .modal-body input {
  margin-top: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\0000310}}
#verificationModal .modal-dialog .modal-body .btn {
  padding: 2px 15px 2px 15px;
  border-radius: 0;
  color: #fff;
  margin: 28px 10px 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\0000318}}
.cancel {
  background-color: #a0a0a0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/verificationModal\.scss}line{font-family:\0000321}}
.tested {
  background-color: #87b880;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\000032}}
#lockListModal .modal-header {
  border: 0;
  text-align: center;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\000038}}
#lockListModal .modal-body {
  height: 60%;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000311}}
#lockListModal .modal-body .groundListBox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000316}}
#lockListModal .modal-body .date {
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000319}}
#lockListModal .modal-body .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 8px 7.5px 0;
  border-color: transparent #808080 transparent transparent;
  position: relative;
  left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000328}}
#lockListModal .modal-body .groundList {
  border-left: 1px solid #808080;
  width: 230px;
  padding-left: 20px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000333}}
#lockListModal .modal-body .groundList span {
  font-size: 18px;
  padding: 5px 2px 5px 2px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000339}}
#lockListModal .modal-body .userList {
  width: 210px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000341}}
#lockListModal .modal-body .userList span {
  display: block;
  font-size: 16px;
  margin: 12px 2px 13px 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000345}}
#lockListModal .modal-body .userList span input {
  height: 22px;
  width: 140px;
  color: #50879c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000353}}
#lockListModal .modal-footer {
  border: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000356}}
#lockListModal .modal-footer div {
  color: #50879c;
  margin-bottom: 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/modal\/lockListModal\.scss}line{font-family:\0000360}}
#lockListModal .modal-footer .btn {
  color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 0;
  margin: 0 30px 0 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000325}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000328}}
.header {
  background-color: #f2f2f2;
  padding-left: 15.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/untitled1\/backend\/sass\/index\.scss}line{font-family:\0000333}}
.bigBox {
  height: 68%;
  margin-top: 70px;
  margin-left: 13%;
  overflow-y: hidden;
}
