$mainColor: #88cddc;
$secondayColor: #50879c;
$whiteColor: #fff;
$headerFontSize: 13px;
$headerDiv: 60px;
$headerMargin-left: 15.5%;
$tableMargin-left: 40px;
$tableHeight: 25px;
$tableWidth: 60px;
$tableTransform-origin: top left;
$tableRotate: rotate(-150deg);