.headerRight {
    display: inline-block;
    margin-left: 25px;

    div {
        display: inline-block;
        margin: 0 10px 20px 10px;

        span {
            font-size: $headerFontSize;
            position: relative;
            display: table-cell;
            width: $headerDiv;
            height: $headerDiv;
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            color: $whiteColor;
            border-radius: $headerDiv;
            background-color: $mainColor;
        }

        .headerRightClick {
            color: $mainColor;
            border: 1.5px solid $mainColor;
            background-color: $whiteColor;
        }
    }

    .hidden {
        display: none;
    }

    //全屏按钮的箭头
    .pre1,
    .pre2,
    .pre3,
    .pre4 {
        position: absolute;
        transform: rotate(-45deg);
        border-width: 10px;
        border-style: solid;
        border-color: transparent;
    }

    .pre1 {
        top: 31px;
        left: 0;
    }

    .pre1Color {
        border-right-color: $whiteColor;
    }

    .pre1Change {
        border-right-color: $mainColor;
    }

    .pre2 {
        top: 28px;
        left: 3px;
    }

    .pre2Color {
        border-right-color: $mainColor;
    }

    .pre2Change {
        border-right-color: $whiteColor;
    }

    .pre3 {
        top: 9px;
        left: 22px;
        border-left-color: $whiteColor;
    }

    .pre3Color {
        border-left-color: $whiteColor;
    }

    .pre3Change {
        border-left-color: $mainColor;
    }

    .pre4 {
        top: 12px;
        left: 19px;
    }

    .pre4Color {
        border-left-color: $mainColor;
    }

    .pre4Change {
        border-left-color: $whiteColor;
    }
}