.headerRange {
    position: relative;
    bottom: 45px;
    display: inline-block;
    margin-left: 16px;

    span {
        display: inline-block;
    }

    .rangeText {
        font-size: $headerFontSize;
        position: relative;
        top: 6px;
        margin: 0 5px;
    }

    input[type=range] {
        display: inline-block;
        width: 100%;
        -webkit-appearance: none;

        &:focus {
            outline: none;
        }

        &::-webkit-slider-thumb {
            width: 4px;
            height: 17px;
            margin-top: -7px;
            cursor: pointer;
            background: $mainColor;
            -webkit-appearance: none;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background: $mainColor;
        }
    }
}