.headerLogo {
    display: inline-block;

    > div {
        display: inline-block;
    }

    .left {
        font-size: $headerFontSize;
        text-align: right;
        color: #828282;

        div {
            margin-top: 5px;
        }
    }

    .right {
        div {
            width: 30px;
            height: 12px;
            margin-top: 10px;
        }
    }

    // span {
    //     display: inline-block;
    //     margin-top: 4px; 
    //     color: #828282;
    //     span {
    //       display: inline-block;
    //       width: 25px;
    //       height: 10px;
    //     }
    // }
}