.tap {
    margin-left: $headerMargin-left;
    width: 75%;
    position: absolute;
    span {
        margin: 0 1px 0 1px;
        cursor: pointer;
        text-align: center;
        float: left;
        line-height: 40px;
        color: #9b9b9b;
        font-size: 20px;
        width: 10.8%;
        height: 40px;
        background-color: #f2f2f2;
        border-bottom: 2px solid #9b9b9b;
        transition: 1s; 
    }
    .tapClick {
        height: 60px;
        border-bottom: solid $secondayColor;
        line-height: 60px;
        font-size: 22px;
        color: $secondayColor; 
    }
    .clear {
        clear: both; 
    }
}