
#lockListModal .modal-header {
  border: 0;
  text-align: center;
  font-size: 20px; 
}

#lockListModal .modal-body {
  height: 60%;
  overflow: auto; 
    .groundListBox {
        display: inline-flex;
        flex-direction: row;
        align-items: center; 
    }
    .date {
        font-size: 30px; 
    }
        .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 8px 7.5px 0;
        border-color: transparent #808080 transparent transparent;
        position: relative;
        left: 10px;
    }
    .groundList {
        border-left: 1px solid #808080;
        width: 230px;
        padding-left: 20px;
        margin-left: 10px; 
         span {
          font-size: 18px;
          padding: 5px 2px 5px 2px;
          display: inline-block;
        }
    }
    .userList {
        width: 210px;
        span {
          display: block;
          font-size: 16px;
          margin: 12px 2px 13px 14px; 
            input {
              height: 22px;
              width: 140px;
              color: $secondayColor; 
            }
        }
    }
}
#lockListModal .modal-footer {
  border: 0;
  text-align: center; 
    div {
        color: $secondayColor;
        margin-bottom: 23px; 
    }
    .btn {
        color: $whiteColor;
        width: 80px;
        height: 30px;
        border-radius: 0;
        margin: 0 30px 0 30px; 
    }
}